/* 
COLORS: 
Calculator: #3a3a3a
Screen: #6f8862
TOP-Buttons: #212121
BUTTONS: #a5a5a5
EQUAL: #cf811a
BUTTON HIGHLIGHT: #686868
*/

.calculator {
  margin: auto;
  padding: 2vw;
  border: none;
  border-radius: 1vw;
  height: 60vw;
  width: 45vw;
  background-color: #3a3a3a;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 1vw;
  row-gap: 2vw;
}

.screen {
  font-size: 2vw;
  text-align: end;
  border: #6f8862 solid 1px;
  border-radius: 0.5vw;
  grid-column: 1 / span 4;
  background-color: #6f8862;
}

.equal {
  background-color: #cf811a;
  grid-row: 5 / span 2;
  grid-column: 4 / 5;
}
.zero {
  grid-column: 1 / span 2;
}

button {
  font-size: 2vw;
  border: none;
  border-radius: 0.2vw;
  background-color: #a5a5a5;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #686868;
}

.top-button {
  background-color: #212121;
}
